
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    overflow-x: hidden;
}
.Homepage_bg {
background: url("../src/assets/Images/bghome.svg");

}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
